<div class="post">
	<div class="post-bgtop">
		<div class="post-bgbtm">
			<h2 class="title"><a href="#">歡迎蒞臨合勤演藝廳！ </a></h2>
			<p class="meta"><span class="date">Sunday, January 26, 2011</span> 7:27 AM Posted by <a href="#">Someone</a></p>
			<div class="entry">
				<p>
					歡迎利用本系統！
				</p>
			</div>
		</div>
	</div>
</div>

<div class="post">
	<div class="post-bgtop">
		<div class="post-bgbtm">
			<h2 class="title"><a href="#">合勤聖誕趴 </a></h2>
			<p class="meta"><span class="date">Sunday, January 26, 2011</span> 7:27 AM Posted by <a href="#">Someone</a></p>
			<div class="entry">
				<p>
					
				</p>
			</div>
		</div>
	</div>
</div>