<div class="post">
	<div class="post-bgtop">
		<div class="post-bgbtm">
			<h2 class="title"><a href="#">
				我的借用紀錄
			</a></h2>
			<p class="meta"><span class="date"></p>
			<div class="entry">
				<ul>
					<% for p in @programs %>
						<li>
							<%=h p.date%> 
							<strong><%= link_to p.name, :controller=>"auditorium",\
							:action=>"receipt", :pid=>p.pid %></strong> 
							
						</li>
					<% end %>
				</ul>

			</div>
		</div>
	</div>
</div>
